.card {
    max-width: 617px;
    /* height: 643px; */
    /* position: absolute; */
    /* left: calc(50% - 617px / 2); */
    /* top: calc(50% - 643px / 2 - 54px); */
    background: rgba(255, 255, 255, 0.4);
    box-shadow: -5px 6px 28px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(3px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;

    /* background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px); */
}
